{% extends 'base_form.html' %}

{% block title %}
    {{ block.super }} | {% if form.initial %}Gruppe bearbeiten{% else %}Gruppe erstellen{% endif %}
{% endblock %}

{% block content %}
    <h3 class="title">{% if form.initial %}Gruppe bearbeiten{% else %}Gruppe erstellen{% endif %}</h3>

    <form method="post">
        {% csrf_token %}

        {{ form }}

        <div class="field is-grouped">
            <div class="control">
                <button class="button is-primary" type="submit">
                    {% if form.initial %}Ändern{% else %}Hinzufügen{% endif %}
                </button>
            </div>

            <div class="control">
                {% if form.initial %}
                    <a class="button is-light" href="{% url 'accounts:group_detail' group.pk %}">
                        Abbrechen
                    </a>
                {% else %}
                    <a class="button is-light" href="{% url 'accounts:group_list' %}">
                        Abbrechen
                    </a>
                {% endif %}
            </div>
        </div>
    </form>
{% endblock %}
