{% extends 'auth/base_group.html' %}

{% block title %}
    {{ block.super }} | {{ group.name }}
{% endblock %}

{% block content %}
    <div class="container is-max-desktop">
        {{ block.super }}
    </div>
{% endblock %}

{% block subcontent %}
    <div class="buttons is-justify-content-flex-end">
        {% url 'accounts:group_update' group.pk as url %}
        {% include 'button_snippet.html' with permission=perms.auth.change_group url=url label="Gruppe bearbeiten" %}

        {% url 'accounts:group_members' group.pk as url %}
        {% include 'button_snippet.html' with permission=perms.auth.change_group url=url label="Mitglieder bearbeiten" %}
    </div>

    <h3 class="title">{{ group.name }}</h3>

    <div class="columns">
        <div class="column">
            <h5 class="title is-5">Berechtigungen</h5>

            {% if group.permissions.count > 0 %}
                <div class="content">
                    <ul>
                        {% for permission in group.permissions.all %}
                            <li>{{ permission.name }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% else %}
                <p class="is-italic">Gruppe hat keine Berechtigungen</p>
            {% endif %}
        </div>

        <div class="column">
            <h5 class="title is-5">Mitglieder</h5>

            {% if group.user_set.count > 0 %}
                <div class="content">
                    <ul>
                        {% for member in group.user_set.all %}
                            <li>{{ member }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% else %}
                <p class="is-italic">Gruppe hat keine Mitglieder</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
