{% extends 'base.html' %}

{% block title %}
    {{ block.super }} | Gruppen
{% endblock %}

{% block content %}
    <div class="container is-max-desktop">
        {{ block.super }}

        <div class="buttons is-justify-content-flex-end">
            {% url 'accounts:group_create' as url %}
            {% include 'button_snippet.html' with permission=perms.auth.add_group url=url label="Gruppe erstellen" %}
        </div>

        <h3 class="title">Gruppen</h3>

        <div class="table-container">
            <table class="table is-fullwidth is-hoverable">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Mitglieder</th>
                </tr>
                </thead>

                <tbody>
                {% for group in group_list %}
                    <tr>
                        <td>
                            <a href="{% url 'accounts:group_detail' group.pk %}">{{ group.name }}</a>
                        </td>

                        <td>{{ group.user_set.count }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="2" class="is-italic has-text-centered">
                            Es wurden bisher noch keine Gruppen erstellt
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
