{% extends 'base.html' %}

{% block content %}
    <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
            <li><a href="{% url 'excursions:excursion_list' %}">Exkursionen</a></li>

            <li class="is-active">
                <a href="{% url 'excursions:excursion_detail' excursion.pk %}" aria-current="page">
                    {{ excursion.title }}
                </a>
            </li>
        </ul>
    </nav>

    {% if user.is_staff %}
        <div class="tabs">
            <ul>
                {% url 'excursions:excursion_detail' excursion.pk as url %}
                {% include 'tab_snippet.html' with permission=perms.excursions.view_excursion url=url label="Informationen" icon="fa-circle-info" %}

                {% url 'excursions:participant_list' excursion.pk as url %}
                {% include 'tab_snippet.html' with permission=perms.excursions.view_participant url=url label="Teilnehmer anzeigen" icon="fa-people-group" %}

                {% url 'excursions:participant_statistics' excursion.pk as url %}
                {% include 'tab_snippet.html' with permission=perms.excursions.view_participant url=url label="Statistik" icon="fa-calculator" %}
            </ul>
        </div>
    {% endif %}

    {{ block.super }}

    {% block subcontent %}{% endblock %}
{% endblock %}
