{% extends 'excursions/base_excursion.html' %}

{% block title %}
    {{ block.super }} | {{ excursion.title }}
{% endblock %}

{% block content %}
    <div class="container is-max-desktop">
        {{ block.super }}
    </div>
{% endblock %}

{% block subcontent %}
    {% if user.is_staff %}
        <div class="buttons is-justify-content-flex-end">
            {% url 'excursions:excursion_update' excursion.pk as url %}
            {% include 'button_snippet.html' with permission=perms.excursions.change_excursion url=url label="Exkursion bearbeiten" %}
        </div>
    {% endif %}

    <h3 class="title">
        {{ excursion.title }}
        {% if excursion.website %}
            <a class="ml-3" href="{{ excursion.website }}" target="_blank">
                <span class="icon">
                    <i class="fa-solid fa-globe"></i>
                </span>
            </a>
        {% endif %}
    </h3>

    <h5 class="subtitle">
        {{ excursion.date }}{% if excursion.location %} | {{ excursion.location }}{% endif %}
    </h5>

    {% if feedback %}
        <article class="message {{ feedback.color }}">
            <div class="message-body">
                {{ feedback.message|safe }}
            </div>
        </article>
    {% endif %}

    {% if excursion.image %}
        <div class="block">
            <figure class="image">
                <img src="{{ excursion.image.url }}" alt="Bild vom Unternehmen">
            </figure>
        </div>
    {% endif %}

    <div class="content">
        {{ excursion.desc|linebreaks }}
    </div>

    <div class="buttons">
        {% if feedback %}
            <a class="button is-primary" disabled>
                Zur Exkursion anmelden
            </a>
        {% else %}
            <a class="button is-primary" href="{% url 'excursions:participant_create' excursion.pk %}">
                Zur Exkursion anmelden
            </a>
        {% endif %}
    </div>
{% endblock %}