{% extends 'base.html' %}

{% block title %}
    {{ block.super }} | Exkursionen
{% endblock %}

{% block content %}
    <div class="container is-max-desktop">
        {{ block.super }}

        {% if user.is_staff %}
            <div class="buttons is-justify-content-flex-end">
                {% url 'excursions:add_excursion' as url %}
                {% include 'button_snippet.html' with permission=perms.excursions.add_excursion url=url label="Exkursion erstellen" %}
            </div>
        {% endif %}

        <h3 class="title">Exkursionen</h3>

        <table class="table is-fullwidth is-hoverable">
            <thead>
            <tr>
                <th>Titel</th>
                <th>Datum</th>
                <th>Status</th>
            </tr>
            </thead>

            <tbody>
            {% for excursion in excursion_list %}
                <tr>
                    <td>
                        <a href="{% url 'excursions:excursion_detail' excursion.pk %}">
                            {{ excursion.title }}
                        </a>
                    </td>
                    <td>{{ excursion.date }}</td>
                    <td>
                        <span class="tag {{ excursion.get_state_color }}">
                            {{ excursion.get_state_display }}
                        </span>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3" class="is-italic has-text-centered">
                        Keine Exkursionen verfügbar
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
