{% extends 'excursions/base.html' %}

{% block title %}
    {{ block.super }} | {{ fieldtrip.title }}
{% endblock %}

{% block content %}
    <div class="container is-max-desktop">
        {{ block.super }}
    </div>
{% endblock %}

{% block subcontent %}
    {% if user.is_staff %}
        <div class="buttons is-justify-content-flex-end">
            {% url 'field_trips:field_trip_update' fieldtrip.pk as url %}
            {% include 'button_snippet.html' with permission=perms.field_trips.change_field_trip url=url label="Exkursion bearbeiten" %}
        </div>
    {% endif %}

    <h3 class="title has-text-centered">
        {{ fieldtrip.title }}
    </h3>

    <h5 class="subtitle has-text-centered">
        <div class="columns">
            <div class="column">
                <span class="icon-text">
                    <span class="icon">
                        <i class="fa-solid fa-calendar" aria-hidden="true"></i>
                    </span>

                    <span>{{ fieldtrip.date }}</span>
                </span>
            </div>

            {% if fieldtrip.location %}
                <div class="column">
                    <span class="icon-text">
                            <span class="icon">
                                <i class="fa-solid fa-location-dot" aria-hidden="true"></i>
                            </span>

                            <span>{{ fieldtrip.location }}</span>
                    </span>
                </div>
            {% endif %}

            {% if fieldtrip.website %}
                <div class="column">
                    <a href="{{ fieldtrip.website }}" target="_blank">
                        <span class="icon-text">
                            <span class="icon">
                                <i class="fa-solid fa-external-link"></i>
                            </span>

                            <span>Webseite</span>
                        </span>
                    </a>
                </div>
            {% endif %}
        </div>
    </h5>

    {% if fieldtrip.image %}
        <div class="block">
            <figure class="image">
                <img src="{{ fieldtrip.image.url }}" alt="Bild vom Unternehmen">
            </figure>
        </div>
    {% endif %}

    <div class="content">
        {{ fieldtrip.desc|linebreaks }}
    </div>

    <div class="buttons">
        <a class="button is-primary" href="{% url 'field_trips:register' fieldtrip.pk %}">Zur Exkursion anmelden</a>
    </div>
{% endblock %}