{% extends "base_form.html" %}
{% block title %}{{ block.super }} | Zur Exkursion anmelden{% endblock %}
{% block content %}
    <h3 class="title">Zur Exkursion anmelden</h3>
    <h5 class="subtitle">{{ excursion.title }}</h5>
    {% if excursion.ask_for_car %}
        <article class="message is-info">
            <div class="message-body">
                Um allen Teilnehmern die Anreise zum Unternehmen zu ermöglichen
                benötigen wir Studierende, welche ein Auto besitzen und bereit sind eine
                Fahrgemeinschaft zu bilden. Aus diesem Grund werden Besitzer eines Autos
                vorzugsweise zur Exkursion zugelassen. Zur Deckung von Tankkosten und
                Verschleiß zahlen wir den Fahrern eine Fahrtkostenpauschale von 30 Cent
                pro Kilometer.
            </div>
        </article>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <div class="field">
            {% include "bulma/label_snippet.html" with label="Name" required=True %}
            <div class="control">
                <input class="input" type="text" value="{{ user.get_full_name }}" disabled />
            </div>
        </div>
        {{ form }}
        <div class="field is-grouped">
            <div class="control">
                <button class="button is-primary" type="submit">Anmelden</button>
            </div>
            <div class="control">
                <a class="button is-light"
                   href="{% url 'excursions:excursion_detail' excursion.pk %}">Abbrechen</a>
            </div>
        </div>
    </form>
{% endblock %}
