{% extends 'base_form.html' %}

{% block title %}
    {{ block.super }} | Teilnehmer löschen
{% endblock %}

{% block content %}
    <h3 class="title">Löschen bestätigen</h3>

    <p class="block">
        Bitte bestätige, dass <strong>{{ participant }}</strong> von der Exkursion
        <strong>{{ participant.excursion }}</strong> entfernt werden soll. Der Benutzer wird per E-Mail darüber
        informiert, nicht länger Teilnehmer dieser Exkursion zu sein.
    </p>

    <form method="post">
        {% csrf_token %}

        <div class="field is-grouped">
            <div class="control">
                <button class="button is-danger" type="submit">
                    Entfernen
                </button>
            </div>

            <div class="control">
                <a class="button is-light" href="{% url 'excursions:participant_list' participant.excursion.pk %}">
                    Abbrechen
                </a>
            </div>
        </div>
    </form>
{% endblock %}
