<div class="field">
    {% if field.field.widget.input_type != 'checkbox' %}
        {% include 'bulma/label_snippet.html' with id=field.id_for_label label=field.label required=field.field.required %}
    {% endif %}

    {% include 'bulma/control_snippet.html' with field=field %}

    {% if field.help_text %}
        <p class="help">
            {{ field.help_text|safe }}
        </p>
    {% endif %}

    {% if field.errors %}
        <p class="help is-danger">
            {% for error in field.errors %}
                {{ error }}
            {% endfor %}
        </p>
    {% endif %}
</div>
