{% load i18n %}
{% for field in form %}
    <div class="field">
        <label class="label" for="{{ field.id_for_label }}">
            <span class="icon-text">
                <span>{{ field.label }}</span>

                {% if field.field.required %}
                    <span class="icon has-text-grey-light">
                        <i class="fa-solid fa-circle-exclamation"></i>
                    </span>
                {% endif %}
            </span>
        </label>

        <div class="control">
            {% if field.field.widget.input_type == 'file' %}
                <div class="file has-name is-fullwidth">
                    <label class="file-label">
                        {{ field }}

                        <span class="file-cta">
                            <span class="file-icon">
                                <i class="fa-solid fa-upload"></i>
                            </span>

                            <span class="file-label">
                                {% trans "Choose a file" %}
                            </span>
                        </span>

                        <span class="file-name is-italic has-text-grey-light">
                            {% trans "No file selected" %}
                        </span>
                    </label>
                </div>
            {% else %}
                {{ field }}
            {% endif %}
        </div>

        {% if field.help_text %}
            <p class="help">
                {{ field.help_text|safe }}
            </p>
        {% endif %}

        {% if field.errors %}
            <p class="help is-danger">
            <ul class="bullet-list">
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
            </p>
        {% endif %}
    </div>
{% endfor %}
