asgiref==3.8.1
certifi==2025.1.31
chardet==5.2.0
charset-normalizer==3.4.1
dj-database-url==2.1.0
Django==4.2.20
fontawesomefree==6.4.2
idna==3.10
Markdown==3.5.2
pillow==11.2.1
psycopg==3.2.6
python-decouple==3.8
reportlab==4.0.9
requests==2.31.0
sqlparse==0.5.3
typing_extensions==4.13.2
urllib3==2.4.0
