{% extends 'base.html' %}

{% block content %}
    <nav class="breadcrumb" aria-label="breadcrumbs">
        <div class="container is-max-desktop">
            <ul>
                <li><a href="{% url 'volunteers:event_list' %}">Veranstaltungen</a></li>

                <li class="is-active">
                    <a href="{% url 'volunteers:event_detail' event.pk %}" aria-current="page">
                        {{ event.title }}
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    {% if user.is_staff %}
        <div class="tabs">
            <ul>
                <li>
                    <a href="{% url 'volunteers:event_detail' event.pk %}">
                        <span class="icon is-small">
                            <i class="fa-solid fa-circle-info" aria-hidden="true"></i>
                        </span>
                        <span>Informationen</span>
                    </a>
                </li>

                {% url 'volunteers:volunteer_list' event.pk as url %}
                {% include 'tab_snippet.html' with permission=perms.volunteers.view_volunteer label="Freiwillige" url=url icon="fa-people-group" %}
            </ul>
        </div>
    {% endif %}

    {% block subcontent %}{% endblock %}
{% endblock %}
