{% extends 'volunteers/base.html' %}

{% block title %}
    {{ block.super }} | {{ event.title }}
{% endblock %}

{% block content %}
    <div class="container is-max-desktop">
        {{ block.super }}
    </div>
{% endblock %}

{% block subcontent %}
    {% if user.is_staff %}
        <div class="buttons is-justify-content-flex-end">
            {% url 'volunteers:event_update' event.pk as url %}
            {% include 'button_snippet.html' with permission=perms.volunteers.change_event url=url label="Veranstaltung bearbeiten" %}
        </div>
    {% endif %}

    <div class="is-flex is-align-items-center">
        <h3 class="title mb-0 mr-3">
            {{ event.title }}
        </h3>

        <span class="tag {{ event.get_state_color }}">
            {{ event.get_state_display }}
        </span>
    </div>

    <h5 class="subtitle">{{ event.date }}</h5>

    {% if feedback %}
        <article class="message {{ feedback.color }}">
            <div class="message-body">
                {{ feedback.message|safe }}
            </div>
        </article>
    {% endif %}

    <div class="content">
        {{ event.desc|linebreaks }}
    </div>

    <div class="buttons">
        {% if feedback %}
            <a class="button is-primary" disabled>
                Als Helfer registrieren
            </a>
        {% else %}
            <a class="button is-primary" href="{% url 'volunteers:volunteer_create' event.pk %}">
                Als Helfer registrieren
            </a>
        {% endif %}
    </div>
{% endblock %}
