{% extends 'volunteers/base.html' %}

{% load markdown %}

{% block title %}
    {{ block.super }} | {{ event.title }}
{% endblock %}

{% block content %}
    <div class="container is-max-desktop">
        {{ block.super }}
    </div>
{% endblock %}

{% block subcontent %}
    {% if user.is_staff %}
        <div class="buttons is-justify-content-flex-end">
            {% url 'volunteers:event_update' event.pk as url %}
            {% include 'button_snippet.html' with permission=perms.volunteers.change_event url=url label="Veranstaltung bearbeiten" %}
        </div>
    {% endif %}

    <div class="columns">
        <div class="column">
            <h3 class="title">
                {{ event.title }}
                <span class="tag {{ event.get_state_color }} is-medium">
                    {{ event.get_state_display }}
                </span>
            </h3>
        </div>
        <div class="column is-narrow">
            {% include "volunteers/event_tags.html" with event=event is_volunteer=is_volunteer %}
        </div>
    </div>

    {% if feedback %}
        <article class="message {{ feedback.color }}">
            <div class="message-body">
                {{ feedback.message|safe }}
            </div>
        </article>
    {% endif %}

    <div class="content">
        {{ event.desc|render }}
    </div>

    <div class="buttons">
        {% if feedback %}
            <a class="button is-primary" disabled>
                Registrieren
            </a>
        {% else %}
            <a class="button is-primary" href="{% url 'volunteers:volunteer_create' event.pk %}">
                Registrieren
            </a>
        {% endif %}
    </div>
{% endblock %}
