{% extends 'base.html' %}

{% block title %}
    {{ block.super }} | Veranstaltungen
{% endblock %}

{% block content %}
    <div class="container is-max-desktop">
        {% if user.is_staff %}
            <div class="buttons is-justify-content-end">
                {% url 'volunteers:event_create' as url %}
                {% include 'button_snippet.html' with permission=perms.volunteers.add_event url=url label="Veranstaltung erstellen" %}
            </div>
        {% endif %}

        <h3 class="title">Veranstaltungen</h3>

        {% if user.is_staff %}
            <div class="tabs">
                <ul>
                    {% url 'volunteers:event_list' as url %}
                    {% include 'tab_snippet.html' with permission=perms.volunteers.view_event label="Geplant" url=url icon="fa-rocket" %}

                    {% url 'volunteers:event_archive_list' as url %}
                    {% include 'tab_snippet.html' with permission=perms.volunteers.view_event label="Archiv" url=url icon="fa-box-archive" %}
                </ul>
            </div>

            {% url 'volunteers:event_archive_list' as url %}
            {% if request.path == url %}
                <article class="message is-info">
                    <div class="message-body">
                        Archivierte Veranstaltungen sehen nur Mitarbeiter.
                    </div>
                </article>
            {% endif %}
        {% endif %}

        {{ block.super }}

        {% for event in event_list %}
            <div class="block">
                <div class="columns">
                    <div class="column">
                        <h4 class="title is-4">
                            <a href="{% url 'volunteers:event_detail' event.pk %}">
                                {{ event.title }}
                            </a>
                            <span class="tag {{ event.get_state_color }}">
                                {{ event.get_state_display }}
                            </span>
                        </h4>
                    </div>
                    <div class="column is-narrow">
                        {% if event.pk in my_events %}
                            {% include "volunteers/event_tags.html" with event=event is_volunteer=True %}
                        {% else %}
                            {% include "volunteers/event_tags.html" with event=event is_volunteer=False %}
                        {% endif %}
                    </div>
                </div>

                <p>{{ event.teaser }}</p>
            </div>
        {% empty %}
            <article class="message is-info">
                <div class="message-body">
                    Es wurden noch keine Veranstaltungen erstellt.
                </div>
            </article>
        {% endfor %}
    </div>
{% endblock %}
