{% extends 'base_form.html' %}

{% block title %}
    {{ block.super }} | Freiwillige kontaktieren
{% endblock %}

{% block content %}
    <h3 class="title">Freiwillige kontaktieren</h3>

    <article class="message is-info">
        <div class="message-body">
            Jeder freiwillige Helfer bekommt die Nachricht per individueller E-Mail. Die Nachricht enthält
            bereits eine Anrede sowie die Signatur des Fachschaftsrates.
        </div>
    </article>

    <form method="post">
        {% csrf_token %}

        {{ form }}

        <div class="field is-grouped">
            <div class="control">
                <button class="button is-primary" type="submit">Abschicken</button>
            </div>

            <div class="control">
                <a class="button is-light" href="{% url 'volunteers:volunteer_list' event.pk %}">
                    Abbrechen
                </a>
            </div>
        </div>
    </form>
{% endblock %}
