{% extends 'volunteers/base.html' %}

{% block title %}
    {{ block.super }} | Freiwillige
{% endblock %}

{% block content %}
    <div class="container is-max-desktop">
        {{ block.super }}
    </div>
{% endblock %}

{% block subcontent %}
    <div class="buttons is-justify-content-flex-end">
        {% url 'volunteers:volunteer_contact' event.pk as url %}
        {% include 'button_snippet.html' with permission=perms.volunteers.contact_volunteer url=url label="Freiwillige kontaktieren" %}
    </div>

    <div class="columns has-text-centered">
        <div class="column">
            <p>Anzahl</p>
            <p class="is-size-3">{{ statistics.amount }}</p>
        </div>
    </div>

    <div class="table-container">
        <table class="table is-hoverable is-fullwidth">
            <thead>
            <tr>
                <th>Name</th>
                <th>Bemerkung</th>
                <th>Registriert am</th>
            </tr>
            </thead>

            <tbody>
            {% for volunteer in volunteer_list %}
                <tr>
                    <td>
                        {% if perms.accounts.view_user %}
                            <a href="{% url 'accounts:user_detail' volunteer.user.pk %}">
                                {{ volunteer.user.get_full_name }}
                            </a>
                        {% else %}
                            {{ volunteer.user.get_full_name }}
                        {% endif %}
                    </td>
                    <td>{{ volunteer.comment }}</td>
                    <td>{{ volunteer.created_at }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3" class="is-italic has-text-centered">
                        Es haben sich bisher noch keine freiwilligen Helfer registriert
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
