<nav class="navbar is-transparent" role="navigation" aria-label="main navigation">{% load i18n %}
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="{% url 'home:landing_page' %}">
                <strong>Klubhaus</strong>
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMain">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarMain" class="navbar-menu">
            {% if user.is_authenticated %}
                <div class="navbar-start">
                    <a class="navbar-item" href="{% url 'field_trips:field_trip_list' %}">
                        <span class="icon-text">
                            <span class="icon">
                                <i class="fa-solid fa-route"></i>
                            </span>
                            <span>{% trans "Field trips" %}</span>
                        </span>
                    </a>

                    <!--
                    <a class="navbar-item" href="#">
                        <span class="icon-text">
                            <span class="icon">
                                <i class="fa-solid fa-shirt"></i>
                            </span>
                            <span>{% trans "Merchandise" %}</span>
                        </span>
                    </a>

                    <a class="navbar-item">
                        <span class="icon-text">
                            <span class="icon">
                                <i class="fa-solid fa-trophy"></i>
                            </span>
                            <span>{% trans "Tournaments" %}</span>
                        </span>
                    </a>

                    <a class="navbar-item">
                        <span class="icon-text">
                            <span class="icon">
                                <i class="fa-solid fa-hand-holding-heart"></i>
                            </span>
                            <span>{% trans "Mentoring" %}</span>
                        </span>
                    </a>
                    -->

                    {% if perms.auth.view_user %}
                        <a class="navbar-item" href="{% url 'accounts:user_list' %}">
                            <span class="icon-text">
                                <span class="icon">
                                    <i class="fa-solid fa-users"></i>
                                </span>
                                <span>{% trans "Users" %}</span>
                            </span>
                        </a>
                    {% endif %}
                </div>
            {% endif %}

            <div class="navbar-end">
                {% if user.is_authenticated %}
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link is-arrowless">
                            <span class="icon">
                                <i class="fa-solid fa-user-astronaut"></i>
                            </span>
                        </a>

                        <div class="navbar-dropdown is-right is-boxed">
                            <a class="navbar-item" href="{% url 'accounts:profile' %}">
                                {% trans "Profile" %}
                            </a>

                            <a class="navbar-item" href="{% url 'accounts:logout' %}">
                                {% trans "Logout" %}
                            </a>
                        </div>
                    </div>
                {% else %}
                    <div class="navbar-item">
                        <div class="buttons">
                            <a class="button is-primary" href="{% url 'accounts:register' %}">
                                <strong>{% trans "Sign up" %}</strong>
                            </a>

                            <a class="button is-light" href="{% url 'accounts:login' %}">{% trans "Log in" %}</a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
