<nav class="navbar is-transparent" role="navigation" aria-label="main navigation">{% load i18n %}
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="{% url 'home:landing_page' %}">
                <strong>Klubhaus</strong>
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMain">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarMain" class="navbar-menu">
            {% if request.user.is_authenticated %}
                <div class="navbar-start">
                    <a class="navbar-item" href="{% url 'field_trips:field_trip_list' %}">
                        {% trans "Field trips" %}
                    </a>

                    <a class="navbar-item" href="#">
                        {% translate "Merchandise" %}
                    </a>

                    <a class="navbar-item">
                        <span class="icon-text">
                            <span class="icon">
                                <i class="fa-solid fa-person-digging"></i>
                            </span>
                            <span><del>{% trans "Tournaments" %}</del></span>
                        </span>
                    </a>

                    <a class="navbar-item">
                        <span class="icon-text">
                            <span class="icon">
                                <i class="fa-solid fa-dumpster-fire"></i>
                            </span>
                            <span><del>{% trans "Mentor" %}</del></span>
                        </span>
                    </a>
                </div>
            {% endif %}

            <div class="navbar-end">
                {% if request.user.is_authenticated %}
                    {% if request.user.is_staff %}
                        <div class="navbar-item has-dropdown is-hoverable">
                            <a class="navbar-link is-arrowless">
                                <span class="icon">
                                    <i class="fa-solid fa-screwdriver-wrench"></i>
                                </span>
                            </a>

                            <div class="navbar-dropdown is-right is-boxed">
                                <a class="navbar-item" href="{% url 'accounts:users' %}">
                                    {% trans "Users" %}
                                </a>
                            </div>
                        </div>
                    {% endif %}

                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link is-arrowless">
                            <span class="icon">
                                <i class="fa-solid fa-user-astronaut"></i>
                            </span>
                        </a>

                        <div class="navbar-dropdown is-right is-boxed">
                            <a class="navbar-item" href="{% url 'accounts:profile' %}">
                                {% trans "Profile" %}
                            </a>

                            <a class="navbar-item" href="{% url 'accounts:logout' %}">
                                {% trans "Logout" %}
                            </a>
                        </div>
                    </div>
                {% else %}
                    <div class="navbar-item">
                        <div class="buttons">
                            <a class="button is-primary" href="{% url 'accounts:register' %}">
                                <strong>{% trans "Sign up" %}</strong>
                            </a>

                            <a class="button is-light" href="{% url 'accounts:login' %}">{% trans "Log in" %}</a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
