<section class="section is-large">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-half">
                <article class="message {{ state }}">
                    <div class="message-header">
                        <p>{{ header }}</p>
                    </div>
                    <div class="message-body">
                        {{ body|safe }}
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>