{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% trans "Activation" %}{% endblock %}

{% block page %}
    {% if valid_link %}
        {% trans "Account was activated" as header %}
        {% blocktrans asvar body trimmed %}
            Your account was activated successfully. You can now log in.
        {% endblocktrans %}
    {% else %}
        {% trans "Account was not activated" as header %}
        {% blocktrans asvar body trimmed %}
            Your account was not activated because the activation link is malformed or expired. Please contact support
            to request a manual activation.
        {% endblocktrans %}
    {% endif %}
    {% include 'accounts/_message.html' with header=header body=body state=state %}
{% endblock %}