{% extends 'base.html' %}

{% block content %}
    <div class="tabs">
        <ul>
            {% url 'accounts:profile' as url %}
            {% include 'tab_snippet.html' with permission=user.is_authenticated url=url label="Profil" icon="fa-graduation-cap" %}

            {% url 'accounts:profile_modifications' as url %}
            {% include 'tab_snippet.html' with permission=user.is_authenticated url=url label="Anträge" icon="fa-file-contract" %}

            {% url 'accounts:profile_teams' as url %}
            {% include 'tab_snippet.html' with permission=user.is_authenticated url=url label="Teams" icon="fa-people-group" %}

            {% url 'accounts:profile_excursions' as url %}
            {% include 'tab_snippet.html' with permission=user.is_authenticated url=url label="Exkursionen" icon="fa-car" %}

            {% url 'accounts:profile_orders' as url %}
            {% include 'tab_snippet.html' with permission=user.is_authenticated url=url label="Bestellungen" icon="fa-shopping-cart" %}
        </ul>
    </div>

    {{ block.super }}

    {% block subcontent %}{% endblock %}
{% endblock %}
