{% extends 'base.html' %}

{% block content %}
    <div class="tabs">
        <ul>
            <li>
                <a href="{% url 'accounts:profile' %}">
                    <span class="icon is-small">
                        <i class="fa-solid fa-graduation-cap"></i>
                    </span>
                    <span>Profil</span>
                </a>
            </li>

            <li>
                <a href="{% url 'accounts:profile_modifications' %}">
                    <span class="icon is-small">
                        <i class="fa-solid fa-file-contract" aria-hidden="true"></i>
                    </span>
                    <span>Anträge</span>
                </a>
            </li>

            <li>
                <a href="{% url 'accounts:profile_teams' %}">
                    <span class="icon is-small">
                        <i class="fa-solid fa-people-group" aria-hidden="true"></i>
                    </span>
                    <span>Teams</span>
                </a>
            </li>

            <li>
                <a href="{% url 'accounts:profile_excursions' %}">
                    <span class="icon is-small">
                        <i class="fa-solid fa-car" aria-hidden="true"></i>
                    </span>
                    <span>Exkursionen</span>
                </a>
            </li>
        </ul>
    </div>

    {{ block.super }}

    {% block subcontent %}{% endblock %}
{% endblock %}
