{% extends 'base.html' %}

{% block title %}
    {{ block.super }} | {{ account.get_full_name }}
{% endblock %}

{% block content %}
    <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
            <li><a href="{% url 'accounts:user_list' %}">Benutzer</a></li>

            <li class="is-active">
                <a href="{% url 'accounts:user_detail' account.pk %}" aria-current="page">
                    {{ account.get_full_name }}
                </a>
            </li>
        </ul>
    </nav>

    <div class="tabs">
            <ul>
                {% url 'accounts:user_detail' account.pk as url %}
                {% include 'tab_snippet.html' with permission=perms.accounts.view_user url=url label="Details" icon="fa-circle-info" %}

                {% url 'accounts:user_excursions' account.pk as url %}
                {% include 'tab_snippet.html' with permission=perms.accounts.view_user url=url label="Exkursionen" icon="fa-car" %}

                {% url 'accounts:user_teams' account.pk as url %}
                {% include 'tab_snippet.html' with permission=perms.accounts.view_user url=url label="Teams" icon="fa-people-group" %}

                {% url 'accounts:user_events' account.pk as url %}
                {% include 'tab_snippet.html' with permission=perms.accounts.view_user url=url label="Veranstaltungen" icon="fa-hand-holding-heart" %}

                {% url 'accounts:user_orders' account.pk as url %}
                {% include 'tab_snippet.html' with permission=perms.accounts.view_user url=url label="Bestellungen" icon="fa-shopping-cart" %}
            </ul>
        </div>

    {{ block.super }}

    {% block subcontent %}{% endblock %}
{% endblock %}
