<article class="message is-small is-info">
    <div class="message-header">Datenschutz</div>

    <div class="message-body">
        <ul class="bullet-list">
            <li>Wir benötigen deinen vollständigen Namen zur Identifikation.</li>
            <li>Wir benötigen deine E-Mail-Adresse für die generelle Kommunikation.</li>
            <li>
                Wir benötigen deine Mobilnummer für die kurzfristige Kommunikation. (Betrifft nur Exkursionen oder
                Helfende Hände.)
            </li>
            <li>Wir benötigen deine Matrikelnummer für die Anerkennung deiner Exkursion beim Prüfungsamt.</li>
        </ul>
    </div>
</article>
