{% extends 'accounts/base_profile.html' %}

{% block title %}
    {{ block.super }} | Profil
{% endblock %}

{% block content %}
    <div class="container is-max-desktop">
        {{ block.super }}
    </div>
{% endblock %}

{% block subcontent %}
    <h3 class="title">Profil</h3>

    <div class="table-container">
        <table class="table is-fullwidth">
            <tbody>
            <tr>
                <td>Vor- & Nachname</td>
                <td>{{ user.get_full_name }}</td>
            </tr>

            <tr>
                <td>E-Mail-Adresse</td>
                <td>{{ user.email }}</td>
            </tr>

            <tr>
                <td>Mobilnummer</td>
                <td>{{ user.phone }}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="buttons">
        <a class="button is-primary" href="{% url 'accounts:profile_edit' %}">
            Daten aktualisieren
        </a>

        <a class="button is-light" href="{% url 'accounts:password_change' %}">
            Passwort ändern
        </a>
    </div>
{% endblock %}
