{% extends 'base_form.html' %}

{% block title %}
    {{ block.super }} | Daten aktualisieren
{% endblock %}

{% block content %}
    <h3 class="title">Daten aktualisieren</h3>

    <article class="message is-warning">
        <div class="message-body">
            Sämtliche Änderungen müssen erst durch einen Administrator bestätigt werden, welches ein paar Tage dauern
            kann. (Falls Informationen lediglich hinzugefügt werden, wird der Antrag automatisch angenommen.)
        </div>
    </article>

    {% include 'accounts/privacy_snippet.html' %}

    <form method="post">
        {% csrf_token %}

        {{ form }}

        <div class="field is-grouped">
            <div class="control">
                <button class="button is-primary" type="submit">Änderung beantragen</button>
            </div>

            <div class="control">
                <a class="button is-light" href="{% url 'accounts:profile' %}">Abbrechen</a>
            </div>
        </div>
    </form>
{% endblock %}
