{% extends 'base_form.html' %}

{% block title %}
    {{ block.super }} | Daten aktualisieren
{% endblock %}

{% block content %}
    <h3 class="title">Daten aktualisieren</h3>

    <article class="message is-warning">
        <div class="message-body">
            Um deine E-Mail-Adresse zu ändern musst du Kontakt mit dem Fachschaftsrat aufnehmen.
        </div>
    </article>

    <article class="message is-info">
        <div class="message-header">Datenschutz</div>

        <div class="message-body">
            <ul class="bullet-list">
                <li>Wir benötigen deinen vollständigen Namen zur Identifikation.</li>
                <li>Wir benötigen deine Mobilnummer für die kurzfristige Kommunikation.</li>
            </ul>
        </div>
    </article>

    <form method="post">
        {% csrf_token %}

        {{ form }}

        <div class="field is-grouped">
            <div class="control">
                <button class="button is-primary" type="submit">Ändern</button>
            </div>

            <div class="control">
                <a class="button is-light" href="{% url 'accounts:profile' %}">Abbrechen</a>
            </div>
        </div>
    </form>
{% endblock %}
