{% extends 'accounts/base_profile.html' %}

{% block title %}
    {{ block.super }} | Profil
{% endblock %}

{% block content %}
    <div class="container is-max-desktop">
        {{ block.super }}
    </div>
{% endblock %}

{% block subcontent %}
    <h3 class="title">Profil</h3>

    {% if is_expired %}
        <article class="message is-warning">
            <div class="message-body">
                Es existiert ein <a href="{% url 'accounts:profile_modifications' %}">Änderungsantrag</a> zur
                Aktualisierung deiner persönlichen Daten. Daher sind einige der folgenden Angaben möglicherweise nicht
                mehr aktuell. Solange der Antrag noch nicht akzeptiert oder abgelehnt wurde kannst du keine neuen
                Änderungen beantragen.
            </div>
        </article>
    {% endif %}

    <div class="table-container">
        <table class="table is-fullwidth">
            <tbody>
            <tr>
                <td>Vor- & Nachname</td>
                <td>{{ user.get_full_name }}</td>
            </tr>

            <tr>
                <td>E-Mail-Adresse</td>
                <td>{{ user.email }}</td>
            </tr>

            <tr>
                <td>Mobilnummer</td>
                <td>{{ user.phone|default:'-' }}</td>
            </tr>

            <tr>
                <td>Matrikelnummer</td>
                <td>{{ user.student|default:'-' }}</td>
            </tr>

            <tr>
                <td>Fakultät</td>
                <td>{{ user.get_faculty_display|default:'-' }}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="buttons">
        {% if is_expired %}
            <button class="button is-primary" disabled>
                Daten aktualisieren
            </button>
        {% else %}
            <a class="button is-primary" href="{% url 'accounts:profile_edit' %}">
                Daten aktualisieren
            </a>
        {% endif %}

        <a class="button is-light" href="{% url 'accounts:password_change' %}">
            Passwort ändern
        </a>
    </div>
{% endblock %}
