{% extends 'base_form.html' %}

{% block title %}
    {{ block.super }} | Registrierung
{% endblock %}

{% block form-content %}
    <div class="columns is-centered">
        <div class="column is-two-thirds">
            <div class="box">
                <h3 class="title">Registrierung</h3>

                {% include 'accounts/privacy_snippet.html' %}

                <form method="post">
                    {% csrf_token %}

                    {{ form }}

                    <div class="field is-grouped">
                        <div class="control">
                            <button class="button is-primary" type="submit">Konto erstellen</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
