{% extends 'base_error.html' %}

{% block title %}
    {{ block.super }} | Registrierung erledigt
{% endblock %}

{% block content %}
    <article class="message is-warning">
        <div class="message-header">
            <p>Neues Konto wurde erstellt</p>
        </div>
        <div class="message-body">
            Ein neues Konto wurde erfolgreich für dich erstellt. Allerdings ist dein
            <strong>Konto noch inaktiv</strong>. Wir haben dir eine E-Mail zum Aktivieren deines Kontos geschickt. Die
            Aktivierung ist bis zum {{ link_expired }} möglich.
        </div>
    </article>
{% endblock %}
