{% extends 'base_form.html' %}

{% block title %}
    {{ block.super }} | Benutzer bearbeiten
{% endblock %}

{% block content %}
    <h3 class="title">Benutzer bearbeiten</h3>

    <form method="post">
        {% csrf_token %}

        {{ form }}

        <div class="field is-grouped">
            <div class="control">
                <button class="button is-primary" type="submit">Ändern</button>
            </div>

            <div class="control">
                <a class="button is-light" href="{% url 'accounts:user_detail' account.pk %}">
                    Abbrechen
                </a>
            </div>
        </div>
    </form>
{% endblock %}
