{% extends 'base.html' %}

{% block title %}
    {{ block.super }} | Benutzer
{% endblock %}

{% block content %}
    <div class="container is-max-desktop">

        {{ block.super }}

        <h3 class="title">Benutzer</h3>

        <div class="table-container">
            <table class="table is-fullwidth is-hoverable">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Registriert am</th>
                    <th>Status</th>
                </tr>
                </thead>

                <tbody>
                {% for account in account_list %}
                    <tr>
                        <td>
                            <a href="{% url 'accounts:user_detail' account.pk %}">
                                {{ account.get_full_name }}
                            </a>
                        </td>

                        <td>{{ account.date_joined }}</td>

                        <td>
                            {% include 'accounts/state_tags_snippet.html' %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
