{% extends 'base.html' %}

{% load i18n %}

{% block title %}{{ block.super }} | {% trans "Edit user" %}{% endblock %}

{% block content %}
    <section class="section">
        <div class="container is-max-desktop">
            <h3 class="title">{% trans "Edit user" %}</h3>

            <div class="box">
                <form method="post">
                    {% csrf_token %}

                    {{ form }}

                    <div class="field is-grouped">
                        <div class="control">
                            <button class="button is-primary" type="submit">{% trans "Update" %}</button>
                        </div>

                        <div class="control">
                            <a class="button is-light" href="{% url 'accounts:user_detail' account.pk %}">
                                {% trans "Cancel" %}
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
