{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% trans "Profile" %}{% endblock %}

{% block content %}
    <div class="columns is-centered">
        <div class="column is-half">
            <h3 class="title">{% trans "Personal information" %}</h3>

            <article class="message is-info">
                <div class="message-header">
                    <p>{% trans "Privacy" %}</p>
                </div>
                <div class="message-body">
                    <ul class="bullet-list">
                        <li>{% trans "We use your full name for identification." %}</li>
                        <li>{% trans "We use your email address for all general communication." %}</li>
                        <li>{% trans "We use your mobile number for urgent reachability on our field trips." %}</li>
                    </ul>
                </div>
            </article>

            <form method="post">
                {% csrf_token %}

                {{ form }}

                <div class="field is-grouped">
                    <div class="control">
                        <button class="button is-primary" type="submit">{% trans "Update" %}</button>
                    </div>

                    <div class="control">
                        <a class="button is-ghost" href="{% url 'accounts:password_change' %}">
                            {% trans "Change password?" %}
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
