{% extends 'merchandise/base_product.html' %}

{% block title %}
    {{ block.super }} | Bilder
{% endblock %}

{% block subcontent %}
    <div class="container is-max-desktop">
        {% if user.is_staff %}
            <div class="buttons">
                {% url 'merchandise:image_create' product.pk as url %}
                {% include 'button_snippet.html' with permission=perms.merchandise.add_image url=url label="Bild hinzufügen" %}
            </div>
        {% endif %}

        <article class="message is-info">
            <div class="message-body">
                Je geringer die Position, desto weiter vorne wird das Bild angeordnet. Das Bild mit der geringsten
                Position wird auf der Übersichtsseite aller Produkt angezeigt.
            </div>
        </article>

        <div class="table-container">
            <table class="table is-fullwidth is-hoverable">
                <thead>
                <tr>
                    <th>Titel</th>
                    <th>Position</th>
                    <th>Aktion</th>
                </tr>
                </thead>
                <tbody>
                {% for image in image_list %}
                    <tr>
                        <td>{{ image.title }}</td>

                        <td>{{ image.position|default_if_none:'?' }}</td>


                        <td>
                            {% if perms.merchandise.change_image %}
                                <a href="{% url 'merchandise:image_update' image.pk %}">
                                    <span class="icon has-text-info">
                                        <i class="fa-solid fa-pen"></i>
                                    </span>
                                </a>
                            {% endif %}

                            {% if perms.merchandise.delete_image %}
                                <a href="{% url 'merchandise:image_delete' image.pk %}">
                                    <span class="icon has-text-danger">
                                        <i class="fa-solid fa-dumpster-fire"></i>
                                    </span>
                                </a>
                            {% endif %}

                            {% if not perms.merchandise.change_image and not perms.merchandise.delete_image %}
                                <span class="icon has-text-dark">
                                    <i class="fa-solid fa-lock"></i>
                                </span>
                            {% endif %}
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="{% if perms.merchandise.delete_image %}2{% else %}1{% endif %}"
                            class="is-italic has-text-centered">
                            Keine Bilder verfügbar
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
