{% extends 'base_form.html' %}

{% load static %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/file_input.js' %}"></script>
{% endblock %}

{% block title %}
    {{ block.super }} | Bild hinzufügen
{% endblock %}

{% block content %}
    <h3 class="title">Bild hinzufügen</h3>
    <h5 class="subtitle">{{ product.name }}</h5>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {{ form }}

        <div class="field is-grouped">
            <div class="control">
                <button class="button is-primary" type="submit">
                    Hinzufügen
                </button>
            </div>

            <div class="control">
                <a class="button is-light" href="{% url 'merchandise:product_detail' product.pk %}">
                    Abbrechen
                </a>
            </div>
        </div>
    </form>
{% endblock %}
