{% extends 'merchandise/base_product.html' %}

{% block title %}
    {{ block.super }} | Bilder
{% endblock %}

{% block subcontent %}
    <div class="container is-max-desktop">
        {% if user.is_staff %}
            <div class="buttons">
                {% url 'merchandise:image_create' product.pk as url %}
                {% include 'button_snippet.html' with permission=perms.merchandise.add_image url=url label="Bild hinzufügen" %}
            </div>
        {% endif %}

        <div class="table-container">
            <table class="table is-fullwidth is-hoverable">
                <thead>
                <tr>
                    <th>Titel</th>
                    {% if perms.merchandise.delete_image %}
                        <th>Aktion</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for image in image_list %}
                    <tr>
                        <td>{{ image.title }}</td>

                        {% if perms.merchandise.delete_image %}
                            <td>
                                <a href="{% url 'merchandise:image_delete' image.pk %}">
                                    <span class="icon has-text-danger">
                                        <i class="fa-solid fa-dumpster-fire"></i>
                                    </span>
                                </a>
                            </td>
                        {% endif %}
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="{% if perms.merchandise.delete_image %}2{% else %}1{% endif %}"
                            class="is-italic has-text-centered">
                            Keine Bilder verfügbar
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
