{% extends 'merchandise/base_product.html' %}

{% block title %}
    {{ block.super }} | Bestellungen
{% endblock %}

{% block content %}
    <div class="container is-max-desktop">
        {{ block.super }}
    </div>
{% endblock %}

{% block subcontent %}
    <div class="table-container">
        <table class="table is-fullwidth is-hoverable">
            <thead>
            <tr>
                <td>Benutzer</td>
                <td>Größe</td>
                <td>Zeitpunkt</td>
                <td>Status</td>
            </tr>
            </thead>
            <tbody>
            {% for order in order_list %}
                <tr>
                    <td>
                        <a href="{% url 'accounts:user_detail' order.user.pk %}">
                            {{ order.user.get_full_name }}
                        </a>
                    </td>
                    <td>{{ order.get_size_display }}</td>
                    <td>{{ order.created_at }}</td>
                    <td>
                        <span class="tag {{ order.get_state_color }}">
                            {{ order.get_state_display }}
                        </span>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4" class="is-italic has-text-centered">
                        Keine Bestellungen verfügbar
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
