{% extends 'base_form.html' %}

{% block title %}
    {{ block.super }} | {% if form.initial %}Bestellung bearbeiten{% else %}Produkt bestellen{% endif %}
{% endblock %}

{% block content %}
    <h3 class="title">
        {% if form.initial %}
            Bestellung bearbeiten
        {% else %}
            Produkt bestellen
        {% endif %}
    </h3>
    <h5 class="subtitle">
        {% if form.initial %}
            {{ order.size.product.name }}<br>
            {{ order.user.get_full_name }}<br>
            {{ order.created_at }}
        {% else %}
            {{ product.name }}
        {% endif %}
    </h5>

    <form method="post">
        {% csrf_token %}

        {{ form }}

        <div class="field is-grouped">
            <div class="control">
                <button class="button is-primary" type="submit">
                    {% if form.initial %}
                        Aktualisieren
                    {% else %}
                        Abschicken
                    {% endif %}
                </button>
            </div>

            <div class="control">
                {% if form.initial %}
                    <a class="button is-light" href="{% url 'merchandise:order_list' order.size.product.pk %}">
                        Abbrechen
                    </a>
                {% else %}
                    <a class="button is-light" href="{% url 'merchandise:product_detail' product.pk %}">
                        Abbrechen
                    </a>
                {% endif %}
            </div>
        </div>
    </form>
{% endblock %}
