{% extends 'base_form.html' %}

{% block title %}
    {{ block.super }} | Produkt bestellen
{% endblock %}

{% block content %}
    <h3 class="title">Produkt bestellen</h3>
    <h5 class="subtitle">{{ product.name }}</h5>

    <form method="post">
        {% csrf_token %}

        {{ form }}

        <div class="field is-grouped">
            <div class="control">
                <button class="button is-primary" type="submit">Abschicken</button>
            </div>

            <div class="control">
                <a class="button is-light" href="{% url 'merchandise:product_detail' product.pk %}">
                    Abbrechen
                </a>
            </div>
        </div>
    </form>
{% endblock %}
