{% extends 'merchandise/base_merchandise.html' %}

{% block title %}
    {{ block.super }} | Bestellungen
{% endblock %}

{% block content %}
    <div class="container is-max-desktop">
        {{ block.super }}
    </div>
{% endblock %}

{% block subcontent %}
    <div class="columns has-text-centered">
        <div class="column">
            <p>Bestellungen</p>
            <p class="is-size-3">{{ statistics.amount_orders }}</p>
        </div>

        <div class="column">
            <p>Kunden</p>
            <p class="is-size-3">{{ statistics.amount_customers }}</p>
        </div>
    </div>

    <div class="table-container">
        <table class="table is-fullwidth is-hoverable">
            <thead>
            <tr>
                <th>ID</th>
                <th>Benutzer</th>
                <th>Product</th>
                <th>Größe</th>
                <th>Status</th>
                <th>Zeitpunkt</th>
            </tr>
            </thead>
            <tbody>
            {% for order in order_list %}
                <tr>
                    <td>{{ order.pk|stringformat:'04d' }}</td>
                    <td>
                        <a href="{% url 'accounts:user_orders' order.user.pk %}">
                            {{ order.user.get_full_name }}
                        </a>
                    </td>

                    <td>
                        <a href="{% url 'merchandise:product_detail' order.size.product.pk %}">
                            {{ order.size.product.name }}
                        </a>
                    </td>

                    <td>{{ order.size.label }}</td>

                    <td>
                        <span class="tags has-addons">
                            <span class="tag {{ order.get_state_color }}">
                                {{ order.get_state_display }}
                            </span>

                            {% if perms.merchandise.change_order %}
                                <a class="tag"
                                   href="{% url 'merchandise:order_state_update' order.pk %}"
                                   style="text-decoration: none">
                                    <span class="icon">
                                        <i class="fa-solid fa-pen"></i>
                                    </span>
                                </a>
                            {% endif %}
                        </span>
                    </td>

                    <td>{{ order.created_at }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4" class="is-italic has-text-centered">
                        Keine Bestellungen verfügbar
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
