{% extends 'base.html' %}

{% block title %}
    {{ block.super }} | Merchandise
{% endblock %}

{% block content %}
    <div class="container is-max-desktop">
        {{ block.super }}

        {% if user.is_staff %}
            <div class="buttons">
                {% url 'merchandise:product_create' as url %}
                {% include 'button_snippet.html' with permission=perms.merchandise.add_product url=url label="Produkt hinzufügen" %}
            </div>
        {% endif %}

        <h3 class="title">Unsere Produkte</h3>

        <article class="message is-info">
            <div class="message-body">
                <div class="content">
                    <p>
                        Die meisten Produkte haben wir auf Lager. Diese können nach euer Bestellung zeitnah bei uns im
                        Büro abgeholt werden. Produkte, welche wir nicht auf Lager haben, bestellen wir einmal pro Semester
                        beim Lieferanten. Hierzu erhalten ihr von uns eine Benachrichtigung per E-Mail, sobald diese
                        abgeholt werden können.
                    </p>
                    <p>
                        Bitte lest euch auch unsere
                        <a href="{% url 'merchandise:order_states' %}">Erklärung zu den verschiedenen Status</a>
                        aufmerksam durch.
                    </p>
                </div>
            </div>
        </article>

        <div class="table-container">
            <table class="table is-fullwidth is-hoverable">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Preis</th>
                </tr>
                </thead>
                <tbody>
                {% for product in product_list %}
                    <tr>
                        <td>
                            <a href="{% url 'merchandise:product_detail' product.pk %}">
                                {{ product.name }}
                            </a>
                        </td>

                        <td>{{ product.price }} &euro;</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="2" class="has-text-centered is-italic">Keine Produkte verfügbar</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
