{% extends 'base_form.html' %}

{% block title %}
    {{ block.super }} | Produkt erstellen
{% endblock %}

{% block content %}
    <h3 class="title">Produkt erstellen</h3>

    <form method="post">
        {% csrf_token %}

        {{ form }}

        <div class="field is-grouped">
            <div class="control">
                <button class="button is-primary" type="submit">Hinzufügen</button>
            </div>

            <div class="control">
                <a class="button is-light" href="{% url 'merchandise:product_list' %}">
                    Abbrechen
                </a>
            </div>
        </div>
    </form>
{% endblock %}
