{% extends 'merchandise/base_product.html' %}

{% block title %}
    {{ block.super }} | {{ product.name }}
{% endblock %}

{% block content %}
    <div class="container is-max-desktop">
        {{ block.super }}
    </div>
{% endblock %}

{% block subcontent %}
    {% if user.is_staff %}
        <div class="buttons">
            {% url 'merchandise:product_update' product.pk as url %}
            {% include 'button_snippet.html' with permission=perms.merchandise.change_product url=url label="Produkt bearbeiten" %}
        </div>
    {% endif %}

    <h3 class="title">{{ product.name }}</h3>

    <table class="table is-fullwidth">
        <tbody>
        <tr>
            <td>Preis</td>
            <td>{{ product.price }} &euro;</td>
        </tr>

        <tr>
            <td>Verfügbar seit</td>
            <td>{{ product.created_at|date }}</td>
        </tr>

        {% if product.has_changed %}
            <tr>
                <td>Aktualisiert am</td>
                <td>{{ product.updated_at|date }}</td>
            </tr>
        {% endif %}
        </tbody>
    </table>

    {% if product.image_set.exists %}
        <div class="columns">
            {% for image in product.image_set.all %}
                <div class="column">
                    <figure class="image">
                        <img src="{{ image.file.url }}" alt="{{ image.title }}">
                    </figure>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <div class="content">
        <p>{{ product.desc|linebreaks }}</p>
    </div>
{% endblock %}
