{% extends 'base.html' %}

{% block title %}
    {{ block.super }} | Merchandise
{% endblock %}

{% block content %}
    <div class="container is-max-desktop">
        {{ block.super }}

        {% if user.is_staff %}
            <div class="buttons">
                {% url 'merchandise:product_create' as url %}
                {% include 'button_snippet.html' with permission=perms.merchandise.add_product url=url label="Produkt hinzufügen" %}
            </div>
        {% endif %}

        <h3 class="title">Unsere Produkte</h3>

        <article class="message is-info">
            <div class="message-body">
                <div class="content">
                    <p>
                        Produkte, welche wir auf Lager haben, können nach deiner Bestellung zeitnah bei uns im
                        Büro abgeholt werden. Für nicht lagernde Produkte geben wir einmal pro
                        Semester eine Sammelbestellung beim Lieferanten auf. Um in der Sammelbestellung berücksichtigt
                        zu werden, musst du ebenfalls eine Bestellung bei uns tätigen. Sobald die Sammelbestellung
                        bei uns eintrifft, wirst du per E-Mail von uns benachrichtigt.
                    </p>
                    <p>
                        Bitte lies dir auch unsere
                        <a href="{% url 'merchandise:order_states' %}">Erklärung zu den verschiedenen Status</a>
                        aufmerksam durch, um Verwirrung zu vermeiden.
                    </p>
                </div>
            </div>
        </article>

        <div class="table-container">
            <table class="table is-fullwidth is-hoverable">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Preis</th>
                    <th>Auf Lager</th>
                </tr>
                </thead>
                <tbody>
                {% for product in product_list %}
                    <tr>
                        <td>
                            <a href="{% url 'merchandise:product_detail' product.pk %}">
                                {{ product.name }}
                            </a>
                        </td>

                        <td>{{ product.price }} &euro;</td>

                        <td>
                            {% if product.is_stocked %}
                                <span class="icon has-text-success">
                                    <i class="fa-solid fa-check-circle"></i>
                                </span>
                            {% else %}
                                <span class="icon has-text-danger">
                                    <i class="fa-solid fa-times-circle"></i>
                                </span>
                            {% endif %}
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="3" class="has-text-centered is-italic">Keine Produkte verfügbar</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
