{% extends 'base.html' %}

{% load i18n %}

{% block title %}{{ block.super }} | {% trans "Log in" %}{% endblock %}

{% block content %}
    <section class="section">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-half">
                    <h3 class="title">{% trans "Log in" %}</h3>

                    <div class="box">
                        <form method="post">
                            {% csrf_token %}

                            {{ form }}

                            <div class="field is-grouped">
                                <div class="control">
                                    <button class="button is-primary" type="submit">
                                        {% trans "Login" %}
                                    </button>
                                </div>

                                <div class="control">
                                    <a class="button is-ghost" href="{% url 'accounts:password_reset' %}">
                                        {% trans "Forget password?" %}
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
