{% extends 'registration/base.html' %}

{% block title %}
    {{ block.super }} | Anmelden
{% endblock %}

{% block content %}
    <h3 class="title">Anmelden</h3>

    <form method="post">
        {% csrf_token %}

        {{ form }}

        <div class="field is-grouped">
            <div class="control">
                <button class="button is-primary" type="submit">
                    Anmelden
                </button>
            </div>

            <div class="control">
                <a class="button is-ghost" href="{% url 'accounts:password_reset' %}">
                    Passwort vergessen?
                </a>
            </div>
        </div>
    </form>
{% endblock %}
