{% extends 'registration/base.html' %}

{% block title %}
    {{ block.super }} | Passwort vergessen
{% endblock %}

{% block content %}
    <h3 class="title">Passwort vergessen</h3>

    <form method="post">
        {% csrf_token %}

        {{ form }}

        <div class="field is-grouped">
            <div class="control">
                <button class="button is-primary" type="submit">
                    Passwort zurücksetzen
                </button>
            </div>
        </div>
    </form>
{% endblock %}
