{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% trans "Reset password" %}{% endblock %}

{% block content %}
    {% trans "Password reset was requested" as header %}
    {% blocktrans asvar body trimmed %}
        We’ve <strong>emailed you instructions</strong> for setting your password, if an account exists with the email
        you entered. You should receive them shortly.<br><br>
        If you don’t receive an email, please make sure you’ve entered the address you registered with, and checked
        your spam folder.<br><br>
        Password reset <strong>only works for active accounts</strong>. Please make sure to activate your account first.
        If your activation link is no longer valid please contact support.
    {% endblocktrans %}
    {% include 'accounts/_message.html' with header=header body=body state='is-success' %}
{% endblock %}
