{% extends 'base.html' %}

{% load i18n %}

{% block title %}{{ block.super }} | {% trans "Change password" %}{% endblock %}

{% block content %}
    <section class="section">
        <div class="container is-max-desktop">
            <h3 class="title">{% trans "Change password" %}</h3>

            <div class="box">
                <form method="post">
                    {% csrf_token %}

                    {{ form }}

                    <div class="field is-grouped">
                        <div class="control">
                            <button class="button is-primary">{% trans "Change my password" %}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}