{% extends 'base_error.html' %}

{% block title %}
    {{ block.super }} | Zurücksetzen des Passworts angefordert
{% endblock %}

{% block content %}
    <article class="message is-success">
        <div class="message-header">
            <p>Zurücksetzen des Passworts angefordert</p>
        </div>
        <div class="message-body">
            <p class="mb-3">
                Wir haben dir eine E-Mail zum Zurücksetzen deines Passworts geschickt, wenn es ein Konto mit der
                angegebenen E-Mail-Adresse gibt. Die E-Mail sollte zeitnah in deinem Posteingang ankommen. Überprüfe
                bitte auch deinen Spam-Ordner, falls du keine E-Mail in deinem Posteingang siehst.
            </p>
            <p>
                Passwörter können nur für Konten zurückgesetzt werden, welche vorher aktiviert wurden. Wenn dein
                Aktivierungslink bereits abgelaufen ist, kannst du dein Konto auch manuell freischalten lassen.
                Schreibe dazu eine E-Mail an den Fachschaftsrat.
            </p>
        </div>
    </article>
{% endblock %}
