{% extends 'base_form.html' %}

{% block title %}
    {{ block.super }} | Team anmelden
{% endblock %}

{% block content %}
    <h3 class="title">Team anmelden</h3>

    <article class="message is-info">
        <div class="message-body">
            Du bist als Gründer des Teams automatisch Mitspieler bzw. Team-Kapitän.
        </div>
    </article>

    {% if is_registered %}
        <article class="message is-danger">
            <div class="message-body">
                Du hast bereits ein Team für das Turnier <strong>{{ tournament.title }}</strong> angemeldet.
            </div>
        </article>
    {% endif %}

    <form method="post">
        {% csrf_token %}

        <h4 class="title is-4 has-text-centered">Team</h4>

        {{ team_form }}

        <hr>

        <h4 class="title is-4 has-text-centered">Spieler</h4>
        <h5 class="subtitle is-5">
            <span class="icon-text">
                <span>Spieler 1</span>
                <span class="icon">
                    <i class="fa-solid fa-chess-king"></i>
                </span>
            </span>
        </h5>

        <div class="columns">
            <div class="column">
                <div class="field">
                    {% include 'bulma/label_snippet.html' with label="Vorname" required=True %}
                    <div class="control">
                        <input class="input" type="text" value="{{ user.first_name }}" disabled>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    {% include 'bulma/label_snippet.html' with label="Nachname" required=True %}
                    <div class="control">
                        <input class="input" type="text" value="{{ user.last_name }}" disabled>
                    </div>
                </div>
            </div>
        </div>

        {{ player_formset.management_form }}

        {% for form in player_formset %}
            <h5 class="subtitle is-5">Spieler {{ forloop.counter|add:1 }}</h5>

            <div class="columns">
                {% for field in form %}
                    <div class="column">
                        {% include 'bulma/field_snippet.html' with field=field %}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}

        <div class="field is-grouped">
            <div class="control">
                <button class="button is-primary" type="submit">
                    Einschreiben
                </button>
            </div>

            <div class="content">
                <a class="button is-light" href="{% url 'tournament:tournament_detail' tournament.pk %}">
                    Abbrechen
                </a>
            </div>
        </div>
    </form>
{% endblock %}
