{% extends 'base_form.html' %}

{% block title %}
    {{ block.super }} | Team bearbeiten
{% endblock %}

{% block content %}
    <h3 class="title">Team bearbeiten</h3>

    <form method="post">
        {% csrf_token %}

        <h4 class="title is-4 has-text-centered">Team</h4>

        {{ team_form }}

        <hr>

        <h4 class="title is-4 has-text-centered">Spieler</h4>
        <h5 class="subtitle is-5">
            <span class="icon-text">
                <span>Spieler 1</span>
                <span class="icon">
                    <i class="fa-solid fa-chess-king"></i>
                </span>
            </span>
        </h5>

        <div class="block">
            <p>
                <span class="icon-text">
                    <span class="icon">
                        <i class="fa-solid fa-user" aria-hidden="true"></i>
                    </span>
                    <span>
                        <a href="{% url 'accounts:user_detail' team.captain.pk %}">
                            {{ team.captain.get_full_name }}
                        </a>
                    </span>
                </span>
            </p>
        </div>

        {{ player_formset.management_form }}

        {% for player_form in player_formset %}
            <h5 class="subtitle is-5">Spieler {{ forloop.counter|add:1 }}</h5>

            {% for hidden_field in player_form.hidden_fields %}
                {{ hidden_field }}
            {% endfor %}

            <div class="columns is-multiline">
                {% for visible_field in player_form.visible_fields %}
                    <div class="column">
                        {% include 'bulma/field_snippet.html' with field=visible_field %}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}

        <div class="field is-grouped">
            <div class="control">
                <button class="button is-primary" type="submit">
                    Ändern
                </button>
            </div>

            <div class="content">
                <a class="button is-light" href="{% url 'tournament:team_list' team.tournament.pk %}">
                    Abbrechen
                </a>
            </div>
        </div>
    </form>
{% endblock %}
