{% extends 'tournament/base.html' %}

{% block title %}
    {{ block.super }} | Teams
{% endblock %}

{% block content %}
    <div class="container is-max-desktop">{{ block.super }}</div>
{% endblock %}

{% block subcontent %}
    {% if user.is_staff %}
        <div class="buttons is-justify-content-flex-end">
            {% url 'tournament:team_drawing' tournament.pk as url %}
            {% include 'button_snippet.html' with permission=perms.tournament.change_team url=url label="Teams auslosen" %}

            {% url 'tournament:team_contact' tournament.pk as url %}
            {% include 'button_snippet.html' with permission=perms.tournament.contact_team url=url label="Teams kontaktieren" %}
        </div>
    {% endif %}

    <h3 class="title">Teams</h3>

    <div class="columns has-text-centered">
        <div class="column">
            <p>Teams</p>
            <p class="is-size-3">{{ statistics.amount_teams }}</p>
        </div>

        <div class="column">
            <p>Spieler</p>
            <p class="is-size-3">{{ statistics.amount_players }}</p>
        </div>
    </div>

    <div class="table-container">
        <table class="table is-hoverable is-fullwidth">
            <thead>
            <tr>
                <th>Name</th>
                <th>Spieler</th>
                <th>Erstellt am</th>
                <th>Status</th>
            </tr>
            </thead>

            <tbody>
            {% for team in team_list %}
                <tr>
                    <td>
                        {% if perms.tournament.change_team %}
                            <a href="{% url 'tournament:team_update' team.pk %}">
                                {{ team.name }}
                            </a>
                        {% else %}
                            {{ team.name }}
                        {% endif %}
                    </td>

                    <td>
                        <ul>
                            <li>
                                <span class="icon-text">
                                    <span>
                                        {% if perms.accounts.view_user %}
                                            <a href="{% url 'accounts:user_teams' team.captain.pk %}">
                                            {{ team.captain.get_full_name }}
                                            </a>
                                        {% else %}
                                            {{ team.captain.get_full_name }}
                                        {% endif %}
                                    </span>

                                    <span class="icon">
                                        <i class="fa-solid fa-chess-king"></i>
                                    </span>
                                </span>
                            </li>

                            {% for player in team.player_set.all %}
                                <li>{{ player }}</li>
                            {% endfor %}
                        </ul>
                    </td>

                    <td>{{ team.created_at }}</td>

                    <td>
                        <span class="tags has-addons">
                            <span class="tag {{ team.get_state_color }}">{{ team.get_state_display }}</span>

                            {% if perms.tournament.change_team %}
                                <a class="tag"
                                   href="{% url 'tournament:change_team_status' team.pk %}"
                                   style="text-decoration: none">
                                    <span class="icon">
                                        <i class="fa-solid fa-pen"></i>
                                    </span>
                            </a>
                            {% endif %}
                        </span>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4" class="is-italic has-text-centered">
                        Es haben sich bisher noch keine Teams angemeldet
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
