{% extends 'tournament/base.html' %}

{% load markdown %}

{% block title %}
    {{ block.super }} | {{ tournament.title }}
{% endblock %}

{% block content %}
    <div class="container is-max-desktop">
        {{ block.super }}
    </div>
{% endblock %}

{% block subcontent %}
    {% if user.is_staff %}
        <div class="buttons is-justify-content-flex-end">
            {% url 'tournament:tournament_update' tournament.pk as url %}
            {% include 'button_snippet.html' with permission=perms.tournament.change_tournament url=url label="Turnier bearbeiten" %}
        </div>
    {% endif %}

    <div class="is-flex is-align-items-center mb-5">
        <h3 class="title mb-0 mr-3">
            {{ tournament.title }}
        </h3>

        <span class="tag {{ tournament.get_state_color }}">
            {{ tournament.get_state }}
        </span>
    </div>

    {% if feedback %}
        <article class="message {{ feedback.color }}">
            <div class="message-body">
                {{ feedback.message|safe }}
            </div>
        </article>
    {% endif %}

    <table class="table is-fullwidth">
        <tbody>
        <tr>
            <td>Datum</td>
            <td>{{ tournament.date }}</td>
        </tr>
        <tr>
            <td>Spieler pro Team</td>
            <td>{{ tournament.players }}</td>
        </tr>
        <tr>
            <td>Beginn der Registrierung</td>
            <td>{{ tournament.registration_start }}</td>
        </tr>
        <tr>
            <td>Ende der Registrierung</td>
            <td>{{ tournament.registration_end }}</td>
        </tr>
        <tr>
            <td>Angemeldete Teams</td>
            <td>{{ tournament.team_set.count }}</td>
        </tr>
        </tbody>
    </table>

    {% if tournament.desc %}
        <div class="content">
            {{ tournament.desc|render }}
        </div>
    {% endif %}

    <div class="buttons">
        {% if feedback %}
            <a class="button is-primary" disabled>
                Als Team einschreiben
            </a>
        {% else %}
            <a class="button is-primary" href="{% url 'tournament:team_create' tournament.pk %}">
                Als Team einschreiben
            </a>
        {% endif %}
    </div>
{% endblock %}
