{% load i18n %}
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMain">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarMain" class="navbar-menu">
            {% if request.user.is_authenticated %}
                <div class="navbar-start">
                    <a class="navbar-item">
                        {% trans "Field trips" %}
                    </a>

                    <a class="navbar-item">
                        {% trans "Tournaments" %}
                    </a>

                    <a class="navbar-item">
                        {% trans "Mentor" %}
                    </a>
                </div>
            {% endif %}

            <div class="navbar-end">
                {% if request.user.is_authenticated %}
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
                            {% trans "Account" %}
                        </a>

                        <div class="navbar-dropdown">
                            <a class="navbar-item" href="{% url 'accounts:profile' %}">
                                {% trans "Profile" %}
                            </a>

                            <a class="navbar-item" href="{% url 'accounts:logout' %}">
                                {% trans "Log out" %}
                            </a>
                        </div>
                    </div>
                {% else %}
                    <div class="navbar-item">
                        <div class="buttons">
                            <a class="button is-primary" href="{% url 'accounts:register' %}">
                                <strong>{% trans "Sign up" %}</strong>
                            </a>

                            <a class="button is-light" href="{% url 'accounts:login' %}">{% trans "Log in" %}</a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
