{% extends 'base_form.html' %}

{% block title %}
    {{ block.super }} | Zur Exkursion anmelden
{% endblock %}

{% block content %}
    <h3 class="title">Zur Exkursion anmelden</h3>
    <h5 class="subtitle">{{ fieldtrip.title }}</h5>

    <div class="columns has-text-centered">
        <div class="column">
            <span class="icon-text">
                <span class="icon">
                    <i class="fa-solid fa-calendar"></i>
                </span>

                <span>{{ fieldtrip.date }}</span>
            </span>
        </div>

        {% if fieldtrip.location %}
            <div class="column">
                <span class="icon">
                    <i class="fa-solid fa-location-dot"></i>
                </span>

                <span>{{ fieldtrip.location }}</span>
            </div>
        {% endif %}
    </div>

    {% if conflicts %}
        <article class="message is-danger">
            <div class="message-header">
                <p>Die Anmeldung ist für dich gesperrt.</p>
            </div>

            <div class="message-body">
                <ul class="bullet-list">
                    {% for conflict in conflicts %}
                        <li>{{ conflict }}</li>
                    {% endfor %}
                </ul>
            </div>
        </article>
    {% endif %}

    <div class="columns is-vcentered">
        <div class="column">
            <progress class="progress" value="{{ fieldtrip.enrollments }}" max="{{ fieldtrip.seats }}">
                {{ fieldtrip.progress }}
            </progress>
        </div>

        <div class="column is-narrow">
            <p>{{ fieldtrip.enrollments }} / {{ fieldtrip.seats }}</p>
        </div>
    </div>

    <form method="post">
        {% csrf_token %}

        <div class="field is-grouped">
            <div class="control">
                <button class="button is-primary is-fullwidth" type="submit"{% if conflicts %} disabled{% endif %}>
                    Anmelden
                </button>
            </div>

            <div class="control">
                <a class="button is-light" href="{% url 'field_trips:field_trip_detail' fieldtrip.pk %}">Abbrechen</a>
            </div>
        </div>
    </form>
{% endblock %}
