{% extends 'base.html' %}

{% load i18n %}

{% block title %}{{ block.super }} | {% trans "Field Trips" %}{% endblock %}

{% block content %}
    {% if user.is_staff %}
    <section class="section">
        <div class="container">
            <div class="is-flex is-justify-content-end">
                <div class="dropdown is-right is-hoverable">
                    <div class="dropdown-trigger">
                        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                            <span class="icon is-small">
                                <i class="fas fa-screwdriver-wrench" aria-hidden="true"></i>
                            </span>
                            <span>{% trans "Options" %}</span>
                        </button>
                    </div>

                    <div class="dropdown-menu" id="dropdown-menu" role="menu">
                        <div class="dropdown-content">
                            {% url 'field_trips:field_trip_create' as add_url %}
                            {% trans "Add new field trip" as label %}
                            {% include 'dropdown_snippet.html' with permission=perms.field_trips.add_field_trip url=add_url label=label %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endif %}

    <section class="section">
        <div class="container">
            <h3 class="title">{% trans "Field Trips" %}</h3>

            <table class="table is-fullwidth is-hoverable">
                <thead>
                <tr>
                    <th>{% trans "Title" %}</th>
                    <th>{% trans "Date" %}</th>
                    <th>{% trans "Enrollment" %}</th>
                </tr>
                </thead>
                <tbody>
                {% for field_trip in object_list %}
                    <tr>
                        <td>
                            <a href="{% url 'field_trips:field_trip_detail' field_trip.pk %}">
                                {{ field_trip.title }}
                            </a>
                        </td>
                        <td>{{ field_trip.date }}</td>
                        <td>{{ field_trip.progress }} %</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="3" class="has-text-centered">
                            {% trans "No field trips have been created yet" %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}
