{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% trans "Field Trips" %}{% endblock %}

{% block content %}
    <h3 class="title">{% trans "Field Trips" %}</h3>

    <div class="columns is-centered">
        <div class="column is-two-thirds">
            {% if user.phone == '' %}
                <article class="message is-warning">
                    <div class="message-body">
                        {% url 'accounts:profile' as profile_link %}
                        {% blocktrans trimmed %}
                            If you want to participate on our field trips, please add a mobile number to your
                            <a href="{{ profile_link }}">profile</a>.
                        {% endblocktrans %}
                    </div>
                </article>
            {% endif %}
        </div>
    </div>

    <div class="columns is-centered">
        {% for field_trip in object_list %}
            <div class="column is-one-third">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title">
                            {{ field_trip.title }}
                        </p>
                    </header>
                    <div class="card-content">
                        {{ field_trip.desc|truncatechars:250 }}
                    </div>
                    <footer class="card-footer">
                        <a class="card-footer-item" href="{% url 'field_trips:field_trip_detail' field_trip.pk %}">
                            {% trans "Show details" %}
                        </a>
                        <p class="card-footer-item">
                            <span>{{ field_trip.available_seats }} {% trans "seats available" %}</span>
                        </p>
                    </footer>
                </div>
            </div>
        {% empty %}
            <div class="column is-two-thirds">
                <article class="message is-info">
                    <div class="message-body">
                        {% trans "Currently no field trips are available." %}
                    </div>
                </article>
            </div>
        {% endfor %}
    </div>
{% endblock %}
