{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% blocktrans with title=object.title %}Field Trip | {{ title }}{% endblocktrans %}{% endblock %}

{% block content %}
    <div class="columns is-centered">
        <div class="column is-half">
            <div class="block is-flex is-justify-content-space-between">
                <a class="button is-link" href="{% url 'field_trips:field_trips_public' %}">
                    <span class="icon is-small">
                        <i class="fa-solid fa-chevron-left"></i>
                    </span>
                    <span>{% trans "Overview" %}</span>
                </a>

                {% if user.is_staff %}
                    <a class="button is-info" href="{% url 'field_trips:field_trips' %}">
                        <span class="icon is-small">
                            <i class="fa-regular fa-rectangle-list"></i>
                        </span>
                        <span>{% trans "List" %}</span>
                    </a>

                    <a class="button is-warning" href="{% url 'field_trips:field_trip_edit' object.pk %}">
                        <span class="icon is-small">
                            <i class="fa-solid fa-pen"></i>
                        </span>
                        <span>{% trans "Edit" %}</span>
                    </a>
                {% endif %}
            </div>

            <h3 class="title">
                <a href="{{ object.website }}" target="_blank">
                    <span class="icon-text">
                        <span>{{ object.title }}</span>
                        <span class="icon">
                            <i class="fa-solid fa-xs fa-external-link"></i>
                        </span>
                    </span>
                </a>
            </h3>

            <h5 class="subtitle">
                <span class="icon-text">
                    <span class="icon">
                        <i class="fa-solid fa-calendar"></i>
                    </span>
                    <span>
                        {{ object.date }}
                    </span>
                    {% if object.location %}
                        <span class="icon">
                            <i class="fa-solid fa-location-dot"></i>
                        </span>
                        <span>{{ object.location }}</span>
                    {% endif %}
                </span>
            </h5>

            {% if object.image %}
                <div class="block">
                    <figure class="image">
                        <img src="{{ object.image.url }}">
                    </figure>
                </div>
            {% endif %}

            <div class="content">
                {{ object.desc_html|safe }}
            </div>

            <h5 class="title is-5">{% trans "Enrollment" %}</h5>

            <div class="columns is-vcentered">
                <div class="column">
                    <progress class="progress is-small" value="{{ object.enrollments }}" max="{{ object.seats }}">
                        {{ object.progress }}
                    </progress>
                </div>

                <div class="column is-narrow">
                    <p>{{ object.enrollments }} / {{ object.seats }}</p>
                </div>
            </div>

            <div class="block">
                <a class="button{% if is_disabled %} is-light{% else %} is-primary{% endif %} is-fullwidth"
                   {% if is_disabled %}disabled{% else %}href="{% url 'field_trips:register' object.pk %}"{% endif %}>
                    {% trans "Register for this field trip" %}
                </a>
            </div>

            {% if conflicts %}
                <div class="block">
                    <article class="message is-danger">
                        <div class="message-header">
                            <p>{% trans "Registration is disabled for you." %}</p>
                        </div>

                        <div class="message-body">
                            <ul class="bullet-list">
                                {% for conflict in conflicts %}
                                    <li>{{ conflict }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </article>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}