{% extends 'base.html' %}

{% load i18n static %}

{% block title %}
    {{ block.super }} |
    {% if form.initial %}
        {% trans "Edit field trip" %}
    {% else %}
        {% trans "Add field trip" %}
    {% endif %}
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/file_input.js' %}"></script>
{% endblock %}

{% block content %}
    <section class="section">
        <div class="container is-max-desktop">
            <h3 class="title">
                {% if form.initial %}
                    {% trans "Edit field trip" %}
                {% else %}
                    {% trans "Add field trip" %}
                {% endif %}
            </h3>

            <div class="box">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    {{ form }}

                    <div class="field is-grouped">
                        <div class="control">
                            <button class="button is-primary" type="submit">
                                {% if form.initial %}
                                    {% trans "Update" %}
                                {% else %}
                                    {% trans "Create" %}
                                {% endif %}
                            </button>
                        </div>

                        <div class="control">
                            {% if form.initial %}
                                <a class="button is-light" href="{% url 'field_trips:field_trip_detail' object.pk %}">
                                    {% trans "Cancel" %}
                                </a>
                            {% else %}
                                <a class="button is-light" href="{% url 'field_trips:field_trip_list' %}">
                                    {% trans "Cancel" %}
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </form>
            </div>
        </div>
        </div>
    </section>
{% endblock %}
