{% extends 'base.html' %}

{% load i18n %}

{% block title %}{{ block.super }} | {% trans "Enrollment" %}{% endblock %}

{% block content %}
    <section class="section">
        <div class="container">
            <nav class="breadcrumb" aria-label="breadcrumbs">
                <ul>
                    <li><a href="{% url 'field_trips:field_trip_list' %}">{% trans "Field Trips" %}</a></li>

                    <li>
                        <a href="{% url 'field_trips:field_trip_detail' field_trip.pk %}">
                            {{ field_trip.title }}
                        </a>
                    </li>

                    <li class="is-active">
                        <a href="{% url 'field_trips:register' field_trip.pk %}" aria-current="page">
                            {% trans "Enrollment" %}
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </section>

    <section class="section">
        <div class="container is-max-desktop">
            <h3 class="title">{% trans "Enrollment" %}</h3>

            <div class="columns has-text-centered">
                <p class="column">
                    <span class="icon-text">
                        <span class="icon">
                            <i class="fa-solid fa-building"></i>
                        </span>

                        <span>{{ field_trip.title }}</span>
                    </span>
                </p>

                <p class="column">
                    <span class="icon-text">
                        <span class="icon">
                            <i class="fa-solid fa-calendar"></i>
                        </span>

                        <span>{{ field_trip.date }}</span>
                    </span>
                </p>

                {% if field_trip.location %}
                    <p class="column">
                        <span class="icon">
                            <i class="fa-solid fa-location-dot"></i>
                        </span>

                        <span>{{ field_trip.location }}</span>
                    </p>
                {% endif %}
            </div>

            {% if conflicts %}
                <article class="message is-danger">
                    <div class="message-header">
                        <p>{% trans "Registration is disabled for you." %}</p>
                    </div>

                    <div class="message-body">
                        <ul class="bullet-list">
                            {% for conflict in conflicts %}
                                <li>{{ conflict }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </article>
            {% endif %}

            <div class="box">
                <div class="columns is-vcentered">
                    <div class="column">
                        <progress class="progress" value="{{ field_trip.enrollments }}" max="{{ field_trip.seats }}">
                            {{ field_trip.progress }}
                        </progress>
                    </div>

                    <div class="column is-narrow">
                        <p>{{ field_trip.enrollments }} / {{ field_trip.seats }}</p>
                    </div>
                </div>

                <form method="post">
                    {% csrf_token %}

                    <button type="submit"
                            class="button{% if conflicts %} is-light{% else %} is-primary{% endif %} is-fullwidth"
                            {% if conflicts %}disabled{% endif %}>
                        {% trans "Register for this field trip" %}
                    </button>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
