{% extends 'base.html' %}

{% load i18n static %}

{% block title %}
    {% if object %}
        {% trans "Edit Field Trip" %}
    {% else %}
        {% trans "Add Field Trip" %}
    {% endif %}
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/file-input.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="columns is-centered">
        <div class="column is-half">
            <h3 class="title">
                {% if object %}
                    {% trans "Edit Field Trip" %}
                {% else %}
                    {% trans "Add Field Trip" %}
                {% endif %}
            </h3>

            <form method="post" class="has-file-input" enctype="multipart/form-data">
                {% csrf_token %}

                {{ form }}

                <div class="field is-grouped">
                    <div class="control">
                        <button class="button is-primary" type="submit">
                            {% if object %}
                                {% trans "Update" %}
                            {% else %}
                                {% trans "Create" %}
                            {% endif %}
                        </button>
                    </div>

                    {% if object %}
                        <div class="control">
                            <a class="button is-light" href="{% url 'field_trips:field_trip_detail' object.pk %}">
                                {% trans "Cancel" %}
                            </a>
                        </div>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
{% endblock %}
