{% extends 'base_form.html' %}

{% load static %}

{% block title %}
    {{ block.super }} | Exkursion {% if form.initial %}bearbeiten{% else %}erstellen{% endif %}
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/file_input.js' %}"></script>
{% endblock %}

{% block content %}
    <h3 class="title">
        Exkursion {% if form.initial %}bearbeiten{% else %}erstellen{% endif %}
    </h3>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {{ form }}

        <div class="field is-grouped">
            <div class="control">
                <button class="button is-primary" type="submit">
                    {% if form.initial %}Aktualisieren{% else %}Erstellen{% endif %}
                </button>
            </div>

            <div class="control">
                {% if form.initial %}
                    <a class="button is-light" href="{% url 'field_trips:field_trip_detail' fieldtrip.pk %}">
                        Abbrechen
                    </a>
                {% else %}
                    <a class="button is-light" href="{% url 'field_trips:field_trip_list' %}">
                        Abbrechen
                    </a>
                {% endif %}
            </div>
        </div>
    </form>
{% endblock %}
