{% extends 'field_trips/base.html' %}

{% load static %}

{% block title %}
    {{ block.super }} | Teilnehmer
{% endblock %}

{% block content %}
    <div class="container is-max-desktop">
        {{ block.super }}
    </div>
{% endblock %}

{% block subcontent %}
    <h3 class="title">Teilnehmer</h3>

    <div class="table-container">
        <table class="table is-fullwidth is-hoverable">
            <thead>
            <tr>
                <th>Name</th>
                <th>Angemeldet am</th>
                <th></th>
            </tr>
            </thead>

            <tbody>
            {% for participant in participant_list %}
                <tr>
                    <td>{{ participant.user.get_full_name }}</td>
                    <td>{{ participant.registered_at }}</td>
                    <td>
                        <a href="{% url 'field_trips:participant_delete' participant.pk %}">
                            <span class="icon-text has-text-danger">
                                <span class="icon">
                                    <i class="fa-solid fa-skull"></i>
                                </span>

                                <span>Löschen</span>
                            </span>
                        </a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3" class="is-italic has-text-centered">
                        Es haben sich bisher noch keine Teilnehmer angemeldet
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

